@model MvcApplication4.Models.Category

@{
    ViewBag.Title = "Browse";
}



<div class="genre">
<h3><em>@Model.Name</em> Notes</h3>

<ul id="album-list">
 @foreach (var note in Model.Notes)
 {
<li>
 <a href="@Url.Action("Details", new { id = note.NotesId })">

</a> 
</li> 
 } 
     </ul>
</div>

